@page "/Account"

<div class="main-contaner-UserInfo">
    <div class="UserInfo-container">
        <img class="UserInfo-userLogo" src="../css/images/PresentationLogo.png" width="500" height="500" alt="UserLogo">
    </div>
    <div class="UserInfo-container">
        <div class="UserInfo-nickname">
            <span> Никнейм </span>
        </div>
        <div class="UserInfo-contacts">
            <span> Email </span>
        </div>
        <div class="UserInfo-age">
            Возраст: 200 лет.
        </div>
    </div>
</div>

<Post />





