$WindowColor: #e3f0e331;

.form {
	background-color: rgba(193, 209, 193, 0.349);

	&__text {
		background-color: transparent;
		resize: none;

		padding: 8px;
		font-size: 15px;
	}

	&__text:focus {
		background-color: #e3f0e31e;
		height: 10em;
	}

	&__submitbutton {
		padding: 5px;
		background-color: gray;

		color: white;
		font-size: 24px;
	}

	&__submitbutton:hover {
		background-color: $ButtonColor;
	}
}