$WindowColor: #f1ffea;
$DefaultFontSize: 20px;
.post {
    background-color: $WindowColor;

    &__body {
        display: flex;
        flex-direction: column;
        margin: 25px 0px;
        padding: 15px;

        box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.1);
    }

    &__header {
        font-size: 25px;
        font-weight: 600;

        .authoricon {
            margin: 0 10px 15px 0;
        }

        .authorname {
            text-align: center;

        }
    }

    // &__main {}

    &__textcontainer {
        font-size: $DefaultFontSize;
    }
}