@import "../css/main.css";

.main-contaner {

	.main-contaner-UserInfo {
		display: flex;

		.UserInfo-container {
			font-size: 30px;
			background-color: rgba(255, 239, 120, 0.2);

			margin: 0px 10px 10px 15px;

			flex-grow: 1;

			.UserInfo-userLogo {
				object-fit: contain;
			}

			.UserInfo-nickname {}

			.UserInfo-contacts {}

			.UserInfo-age {}
		}
	}
}