@import "../css/NullStyle.css";

$ShadowColor: rgb(0 0 0 / 10%);
$BackgroundColor: rgb(224, 239, 217);
$BorderColor: rgba(100, 170, 100, 0.5);
$WindowColor: rgba(255,239,120, 0.45);
$ActiveWindowColor: rgba(170,250,100, 1);

$DefaultFontSize: 20px;
$DefaultFontFamily: arial;

body{
	font-family: $DefaultFontFamily;
	display: flex;
	flex-direction: column;

	background: $BackgroundColor;

	font-size: 50px;

	header{
		display: flex;
		flex-direction: column;

		.header-container{
			display: flex;
			justify-content: space-between;

			.header-container-Logo{
				margin: 17px 20px 0px;
			}
			.header-container-navmenu{
				display: flex;
				.navmenu-settings{
					margin: 7px;
					padding: 25px;
					background: url("../css/images/Icons_Settings.png") 0-0 no-repeat;
					background-size: 100% 100%;
				}
				.navmenu-account{
					margin: 7px;
					padding: 25px;
					background: url("../css/images/Icons_User.png") 0-0 no-repeat;
					background-size: 100% 100%;
				}
			}
		}

	}
	main{
		.header-container-SubNavmenu{
			display: flex;
			justify-content: space-around;

			border-top: 1px solid $BorderColor;
			border-bottom: 1px solid $BorderColor;

			margin-bottom: 20px;

			background-color: rgba(255,239,120, 0.8);
			position: sticky;

			top: 0;
			box-shadow: 0px 10px 15px 0.2px rgb(0 0 0 / 10%);;
			
				:hover{
					background-color: $ActiveWindowColor;
				}
			.navmenu-reference{
				font-family: $DefaultFontFamily;
				font-size: $DefaultFontSize + 5px;
				font-weight: 500;
				text-align: center;

				flex-grow: 1;

				a{
					display: block;
					color: black;
					flex-grow: 1;
				}
			}
		}
		.main-contaner{
				display: flex;
				flex-direction: column;
				justify-content: center;

				max-width: 80%;
				margin: 0px auto;

				.submitPostBox{
					display: flex;
					flex-direction: column;

					background-color: $WindowColor;

					padding: 5px;

					border: 0.5px $ShadowColor solid;
					border-radius: 10px;
					box-shadow: 0 0 10px 1px $ShadowColor;

					span{
						text-align: center;
						padding-bottom: 3px;
						font-size: $DefaultFontSize;
					}
					.submitPostBox-TextBox{
						display: flex;

						flex-grow: 1;

						.TextBox--inputText{
							flex-grow: 1;

							padding-bottom: 25px;
							font-size: $DefaultFontSize;
						}
					}
					.submitButton{
						background-color: #ffef78;
						font-size: 17px;

						:hover{
							background-color: rgba(170,250,100, 1);
						}
					}
				}
			.main-container-post{
				display: flex;
				flex-direction: column;

				background-color: $WindowColor;

				margin: 15px 0px;

				border: 0.5px $ShadowColor solid;
				border-radius: 10px;

				box-shadow: 0 0 10px 1px $ShadowColor;

				.post-header{
					.post-header--AuthorIcon{
						margin-left: 15px;
						margin-top: 5px;
					}
					.post-header--AuthorName{
						font-size: 30px;
					}
				}

				.post-main{
					.post-main-textContainer{
						font-family: $DefaultFontFamily;
						font-size: 20px;
						margin-left: 100px;
					}
					.post-main-imageContaner{
						display: flex;
						justify-content: center;
						align-items: center;

						img{
							max-width:100%; 
							height: auto;
							object-fit: contain;
						}
					}
				}
				
			}
		}
		flex-grow: 1;
	}

	footer{
		background-color: rgba(100, 250, 100, 0.2);
		font-size: 20px;
		flex-shrink: 0;
		flex-grow: 1;

		padding-left: 15px;
		padding-top: 8px;

		.ReferenceContainer{
			display: flex;

			.ReferenceContainer--Reference{
				color: rgb(50%, 50%, 70%);
				margin-right: 10px;
				margin-top: 2px;
			}
		}
	}
	min-height: 100vh;
}