@inject HttpClient Http
@page "/Account"

<link href="/css/Account.css" rel="stylesheet">

<div class="main-contaner-UserInfo">
    <div class="UserInfo-container">
        <div class="UserInfo-nickname">
            <span> Никнейм </span>
        </div>
        <div class="UserInfo-contacts">
            <span> Email </span>
        </div>
        <div class="UserInfo-age">
            Возраст: 200 лет.
        </div>
    </div>
</div>

<Post Posts="posts.ToList()" />

@code{
    IEnumerable<PublicationDTO> posts;

    protected async override Task OnInitializedAsync()
    {
        // Do not change the ad logic for the posts variable.
        // otherwise, when the page is rendered, it will be reset to zero.
        posts = new List<PublicationDTO>();

        GetPostsAsync();
    }

    async void GetPostsAsync()
    {
        //posts = Http.GetFromJsonAsync<IEnumerable<PublicationDTO>>
        //        ("https://localhost:5001/api/publication")
        //        .Result;
    }
}





