@inject HttpClient Http
@inject ILocalStorageService localStorage
@page "/Registration"

<link href="/css/RegistrationStyles.css" rel="stylesheet">

<div class="TitleContainer">
    <span>
        @message
    </span>
</div>
<EditForm Model="newUserDTO" OnValidSubmit="@SendNewUser"
          action="#" class="main-container-form">
    <div class="form-container">
        <InputText @bind-Value="newUserDTO.Name"
                   class="form-container--input" placeholder="Никнейм"/>
    </div>
    <div class="form-container">
        <InputText @bind-Value="newUserDTO.Email"
                   type="Email" class="form-container--input" placeholder="Email"/>
    </div>
    <div class="form-container">
        <InputDate TValue="DateTimeOffset" @bind-Value="newUserDTO.DateOfBirth"
                   placeholder="Ваш день рождения"
                   class="form-container--input"/>
    </div>
    <div class="form-container">
        <button type="submit" class="form-container--submitButton">
            Зарегистрироваться
        </button>
    </div>
</EditForm>

@code{
    string message = "Регистрация";

    RegistrationUserDTO newUserDTO = new();

    async Task SendNewUser()
    {
        var result = await Http.PostAsJsonAsync<RegistrationUserDTO>
                           ("https://localhost:5001/api/user", newUserDTO);

        if (result.IsSuccessStatusCode)
            message = "Вы были успешно зарегистрированы!";
        else
            message = "Произошла ошибка при попытке регистрации. :с";
    }
}
