@page "/Registration"

<link href="/css/RegistrationStyles.css" rel="stylesheet">

<div class="TitleContainer">
    <span>
        Регистрация
    </span>
</div>
<!--Enter action and model reference here-->
<form action="#" class="main-container-form">
    <div class="form-container">
        <input type="text" class="form-container--input" placeholder="Никнейм">
    </div>
    <div class="form-container">
        <input type="Email" class="form-container--input" placeholder="Email">
    </div>
    <div class="form-container">
        <input type="number" class="form-container--input" placeholder="Возраст">
    </div>
    <div class="form-container">
        <button type="submit" class="form-container--submitButton">
            Зарегистрироваться
        </button>
    </div>
</form>
