.Button{
    transition: 0.2s linear;
    background-color: none;
    border: 1px solid #61dafb;
    color: #61dafb;
    text-decoration: none;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.Button:hover{
    background-color: #61dafb;
    color: white;
}