@import "../css/NullStyle.css";
body {
  font-family: arial;
  display: flex;
  flex-direction: column;
  background: rgba(50, 150, 0, 0.15);
  font-size: 50px;
  min-height: 100vh;
}
body header {
  display: flex;
  flex-direction: column;
}
body header .header-container {
  display: flex;
  justify-content: space-between;
}
body header .header-container .header-container-navmenu {
  display: flex;
}
body header .header-container .header-container-navmenu .navmenu-settings img {
  display: block;
  width: 60px;
  height: 60px;
}
body header .header-container .header-container-navmenu .navmenu-account img {
  display: block;
  width: 60px;
  height: 60px;
}
body main {
  flex-grow: 1;
}
body main .header-container-SubNavmenu {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(100, 170, 100, 0.5);
  border-bottom: 1px solid rgba(100, 170, 100, 0.5);
  margin-bottom: 20px;
  background-color: rgba(255, 239, 120, 0.8);
  position: sticky;
  top: 0;
  box-shadow: 0px 10px 15px 0.2px rgba(0, 0, 0, 0.1);
}
body main .header-container-SubNavmenu :hover {
  background-color: #aafa64;
}
body main .header-container-SubNavmenu .navmenu-reference {
  font-family: arial;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  flex-grow: 1;
}
body main .header-container-SubNavmenu .navmenu-reference a {
  display: block;
  color: black;
  flex-grow: 1;
}
body main .main-contaner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  margin: 0px auto;
}
body main .main-contaner .main-container-post {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 239, 120, 0.45);
  margin: 15px 0px;
  border: 0.5px rgba(0, 0, 0, 0.1) solid;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}
body main .main-contaner .main-container-post .post-header .post-header--AuthorIcon {
  margin-left: 15px;
}
body main .main-contaner .main-container-post .post-header .post-header--AuthorName {
  font-size: 30px;
}
body main .main-contaner .main-container-post .post-main .post-main-textContainer {
  font-family: arial;
  font-size: 20px;
  margin-left: 15px;
}
body main .main-contaner .main-container-post .post-main .post-main-imageContaner {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .main-contaner .main-container-post .post-main .post-main-imageContaner img {
  object-fit: contain;
}
    body footer {
        background-color: rgba(50, 150, 0, 0.15);
        font-size: 20px;
        flex-shrink: 0;
        flex-grow: 1;
    }