@import "../css/DefaultStyles.css";
.main-container .TitleContainer {
  display: flex;
  justify-content: center;
}
.main-container .form-container {
  display: flex;
  justify-content: left;
  margin: 15px 10px 10px 23px;
}
.main-container .form-container :hover {
  box-shadow: 0px 0px 20px 0.7px rgba(0, 0, 0, 0.1);
  background-color: #ffef78;
}
.main-container .form-container :focus {
  background-color: #aafa64;
}
.main-container .form-container .form-container--input {
  font-size: 30px;
  padding: 20px;
  background-color: rgba(255, 239, 120, 0.45);
}
.main-container .form-container--submitButton {
  padding: 15px 10px 10px 23px;
  font-size: 30px;
  background-color: #ffef78;
}