@page "/user"
@using NotSocialNetwork.Application.DTOs
@inject HttpClient Http

<h1>Users</h1>

@if (users != null)
{
    @foreach (var user in users)
    {
        <h1>@user.Name</h1>
        <img src="../userImages/@user.Image.Title" />
    }
}
else
{
    <h1>Loading...</h1>
}


@code {
    IEnumerable<UserDTO> users;
    protected override async Task OnInitializedAsync() =>
        users = await Http.GetFromJsonAsync<IEnumerable<UserDTO>>("api/AdminUser/index=0");
}
