@import "../css/main.css";
.main-contaner .main-contaner-UserInfo {
  display: flex;
}
.main-contaner .main-contaner-UserInfo .UserInfo-container {
  font-size: 30px;
  background-color: rgba(255, 239, 120, 0.2);
  margin: 0px 10px 10px 15px;
  flex-grow: 1;
}
.main-contaner .main-contaner-UserInfo .UserInfo-container .UserInfo-userLogo {
  -o-object-fit: contain;
     object-fit: contain;
}