@import "../css/NullStyle.css";
.header__body {
  padding: 10px 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blocklogo {
  background: url("../css/images/TitleIconBlack.png") no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  height: 50px;
  width: 170px;
}

.dark-logo {
  background: url(../css/images/TitleIconWhite.png) 0 0/100% 100% no-repeat;
  width: 170px;
  height: 50px;
}

.footer-body {
  font-size: 17px;
  flex-shrink: 0;
  padding: 10px 20px;
}

.footer {
  background-color: #c8dcaa;
}
.footer__about {
  font-size: 19px;
}
.footer__refcontainer {
  display: flex;
  margin-top: 6px;
}
.footer__refcontainer a {
  color: #8080b3;
}
.footer__refcontainer a::after {
  content: " ";
  white-space: pre;
}
.footer__refcontainer a::before {
  content: " ";
  white-space: pre;
}

.dark-footer {
  background-color: #026302;
  color: wheat;
}
.dark-footer a {
  color: aquamarine;
}

.form {
  background-color: rgba(193, 209, 193, 0.349);
}
.form__text {
  background-color: transparent;
  resize: none;
  padding: 7px;
  height: 47px;
  font-size: 16px;
  overflow: hidden;
}
.form__submitbutton {
  padding: 5px;
  background-color: gray;
  color: white;
  font-size: 24px;
}
.form__submitbutton:hover {
  background-color: #3c8c3c;
}

.post {
  background-color: #e3f0e331;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.post__body {
  display: flex;
  flex-direction: column;
  margin: 45px 0px;
  padding: 15px;
}
.post__header {
  font-size: 25px;
  font-weight: 600;
}
.post__header .authoricon {
  margin: 0 10px 15px 0;
}
.post__header .authorname {
  text-align: center;
}
.post__footer button:hover {
  text-decoration: underline;
  opacity: 1;
}
.post__delete-button {
  font-size: 12px;
  opacity: 0.8;
  background-color: transparent;
}
.post__textcontainer {
  font-size: 20px;
}

body {
  font-family: arial;
  display: flex;
  flex-direction: column;
  background-color: #e3f0e3;
  font-size: 50px;
  min-height: 100vh;
}
body span {
  font-size: 15px;
}

.main {
  flex-grow: 1;
}
.main__body {
  display: flex;
}
.main__content {
  padding: 0 50px;
  width: 100%;
}

.navmenu {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: rgba(193, 209, 193, 0.349);
}
.navmenu__header {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.navmenu__body {
  display: flex;
  flex-flow: column nowrap;
  padding: 15px 0;
  text-align: center;
}
.navmenu__body :hover {
  background-color: #3c8c3c;
  color: white;
}

.nav-reference {
  padding: 10px 15px;
  margin: 0 0 7px 0;
  font-size: 20px;
  color: black;
}

.button {
  padding: 10px 15px;
  font-size: 20px;
  background-color: transparent;
}

.open-button {
  background-color: transparent;
}

.submitpostbox {
  background-color: #e3f0e331;
}
.submitpostbox__body {
  padding: 10px;
}
.submitpostbox__form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.submitpostbox__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.submitpostbox__container textarea {
  flex-grow: 1;
}
.submitpostbox__container button {
  display: none;
}
.submitpostbox__container:hover {
  height: 5em;
}
.submitpostbox__container:hover button {
  display: block;
}

.display-none {
  display: none;
}

.dark-theme {
  background-color: #0d4e0d;
  color: wheat;
}
.dark-theme button {
  color: wheat;
}
.dark-theme a {
  color: wheat;
}
.dark-theme textarea {
  color: wheat;
}
.dark-theme textarea::-moz-placeholder {
  color: wheat;
}
.dark-theme textarea:-ms-input-placeholder {
  color: wheat;
}
.dark-theme textarea::placeholder {
  color: wheat;
}