@inherits LayoutComponentBase

<head>
    <meta charset="utf-8" />
    <title>NewsSite</title>
    <link rel="stylesheet" href="../css/DefaultStyles.css">
</head>

<main>
    <header>
        <NavMenu />
    </header>
    <SubNavMenu />

    <div class="main-contaner">
        @Body
    </div>
</main>

<footer>
    <div>
        <span> Site by Ulyanov Ivan & Kurnakov Maksim. </span>
    </div>
    <RefContainer ReferencesData="@ReferenceData"/>
</footer>

@code{
    Dictionary<string, string> ReferenceData = new();

    protected override void OnInitialized()
    {
        ReferenceData.Add("https://github.com/Ulyanov-programmer", "Ulyanov GitHub,");
        ReferenceData.Add("https://vk.com/h.wilson", "Ulyanov VK");
        ReferenceData.Add("https://github.com/KurnakovMaksim", "Kurnakov GitHub,");
        ReferenceData.Add("https://vk.com/makskurnakov2003", "Kurnakov VK");
    }
}
