<div class="header-container">
    <div class="header-container-Logo">
        <a href="/">
            <img src="../css/images/social networkIcon.png" alt="Logo">
        </a>
    </div>
    <nav class="header-container-navmenu">
        <a href="#">
            <div class="navmenu-settings">
            </div>
        </a>
        <a href="#">
            <div class="navmenu-account">
            </div>
        </a>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
