
<nav class="navmenu">
    <div class="navmenu__header">
        <button class="open-button" @onclick="HideOrShowNavmenu">
            <img src="../css/images/SettingsIcon.png" alt="SettingsIcon" width="50" height="40">
        </button>
    </div>
    <div class="navmenu__body @_displayOfNavmenu">
        @if (CurrentUserData.IsAuthorized)
        {
            <a class="button nav-reference" href="/Account">Аккаунт</a>
            <button type="button" class="button" @onclick="ExitFromAuthorized">Выйти</button>
        }
        else
        {
            <a class="button nav-reference" href="/Login">Войти</a>
            <a class="button nav-reference" href="/Registration">Регистрация</a>
        }
        <button class="button" @onclick="SetNightTheme">Переключить тему</button>
    </div>
</nav>

@code {
    [Parameter] public EventCallback SetNightTheme { get; set; }
    [Parameter] public EventCallback ExitFromAuthorized { get; set; }

    string _displayOfNavmenu = CssStyles.DisplayNone;


    void HideOrShowNavmenu()
    {
        if (_displayOfNavmenu == "")
        {
            _displayOfNavmenu = CssStyles.DisplayNone;
        }
        else
        {
            _displayOfNavmenu = "";
        }
        StateHasChanged();
    }
}
