@inject ILocalStorageService localStorage

<div class="header-container">
    <div class="header-container-Logo">
        <a href="/">
            <img src="../css/images/TitleIconBlack.png" alt="Logo" height="50px" width="170px">
        </a>
    </div>
    <nav class="header-container-navmenu">
        <button class="navmenu-settings" @onclick="@OpenInputContainer"></button>
        <!-- Сделать смену класса при нажатии на кнопку выше -->
        <div style="display: @_viewOfNavmenuButtons" class="inputContainer">
            <button @onclick="@EditNightThemeCookies" class="inputContainer--button">Переключить ночную тему </button>
        </div>
    </nav>
</div>

@code {
    bool _visibleNavmenuButtons = false;

    string _viewOfNavmenuButtons = "none";

    void OpenInputContainer()
    {
        if (_visibleNavmenuButtons)
        {
            _viewOfNavmenuButtons = "none";
        }
        else
        {
            _viewOfNavmenuButtons = "flex";
        }

        _visibleNavmenuButtons = !_visibleNavmenuButtons;
    }

    async Task EditNightThemeCookies()
    {
        if (await localStorage.GetItemAsync<bool>("nightTheme"))
        {
            await localStorage.SetItemAsync("nightTheme", false);
        }
        else
        {
            await localStorage.SetItemAsync("nightTheme", true);
        }
    }
}
