<div class="main-container-post">
    <div class="post-header">
        <img class="post-header--AuthorIcon" src="../css/images/Icons_User.png" width="70" height="70" alt="AuthorIcon">
        <span class="post-header--AuthorName"> ИмяАвтора </span>
    </div>
    <div class="post-main">
        <div class="post-main-textContainer">
            <p>
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            </p>
        </div>
    </div>
</div>

@code {
}
