@foreach (var post in Posts)
{
    if (post.ImagePaths.Any())
    {
        /* TODO: Когда будет готов PublicationEntity с ссылкой на аватары и картинки,
        поместить ниже установку ссылки в imageUrl. */
        imageUrl.Clear();
        imageUrl.Append(post.ImagePaths.First());
    }
    <div class="post">
        <div class="post__body">
            <div class="post__header">
                <img class="authoricon" src="@imageUrl" width="70" height="70"
                     alt="AuthorIcon">
                <span class="authorname">@post.Author.Name</span>
            </div>
            <div class="post__main">
                <div class="post__textcontainer">
                    <p>
                        @post.Text
                    </p>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public List<PublicationDTO> Posts { get; set; }

    StringBuilder imageUrl = new("../css/images/Icons_User.png");

    //protected async override Task OnInitializedAsync()
    //{
    //}
}
