<div class="main-container-post">
    <div class="post-header">
        <img class="post-header--AuthorIcon" src="../css/images/DefaultUser.ico" width="70" height="70" alt="AuthorIcon">
        <span class="post-header--AuthorName"> ИмяАвтора </span>
    </div>
    <div class="post-main">
        <div class="post-main-textContainer">
            <p>

            </p>
        </div>
        <div class="post-main-imageContaner">
            <img src="../css/images/DefaultPostImgSecond.jpg" width="800" height="500" alt="PostPicture">
        </div>
    </div>
</div>

@code {

}
