
<div class="footer__refcontainer">
    @foreach (var hrefData in _referencesData)
    {
        <a href="@hrefData.Key" class="ReferenceContainer--Reference">@hrefData.Value</a>
    }
</div>

@code{
    /// <summary>
    /// Stores the data of links, the Key value is the link itself, the Value value is its text.
    /// </summary>
    Dictionary<string, string> _referencesData;

    protected override void OnInitialized()
    {
        _referencesData = new()
        {
            ["https://github.com/Ulyanov-programmer"] = "Ulyanov GitHub,",
            ["https://vk.com/h.wilson"] = "Ulyanov VK",
            ["https://github.com/KurnakovMaksim"] = "Kurnakov GitHub,",
            ["https://vk.com/makskurnakov2003"] = "Kurnakov VK"
        };
    }
}
