<div class="ReferenceContainer">
    @foreach (var hrefData in ReferencesData)
    {
        <a style="color: @ReferenceColor" href="@hrefData.Key" class="ReferenceContainer--Reference">@hrefData.Value</a>
    }
</div>

@code{
    /// <summary>
    /// Хранит данные ссылкок, значение Key - сама ссылка, значвние Value - её текст.
    /// </summary>
    [Parameter] public Dictionary<string, string> ReferencesData { get; set; }
    [Parameter] public string ReferenceColor { get; set; }
}
