@inject NavigationManager NavNanager

<div class="submitpostbox">
    <div class="submitpostbox__body">
        <EditForm Model="newPost" OnValidSubmit="SubmitNewPost" class="submitpostbox__form form">
            <textarea @bind="newPost.Text"
                      rows="1" placeholder="Есть новости?"
                      class="form__text" id="text">
            </textarea>
            <button class="form__submitbutton" type="submit">Отправить!</button>
            <!--Переделать под модальное окно-->
            <span>@message</span>
        </EditForm>
    </div>
</div>

@code {
    [Parameter] public HttpClient Http { get; set; }
    [Parameter] public ILocalStorageService LocalStorage { get; set; }

    AddPublicationDTO newPost = new();
    string message;

    async Task SubmitNewPost()
    {
        try
        {
            //TODO: Добавить функционал добавления картинки к посту.
            if (newPost != null && string.IsNullOrWhiteSpace(newPost.Text) is false)
            {
                newPost.AuthorId = await CookieHelper.GetCurrentId(LocalStorage);

                HttpHelper.SetJwtHeader(Http, await CookieHelper.GetToken(LocalStorage));

                var responce = await Http.PostAsJsonAsync<AddPublicationDTO>
                ($"{HttpHelper.APIAddress}publication", newPost);

                if (responce.IsSuccessStatusCode)
                {
                    NavNanager.NavigateTo(NavNanager.Uri);
                }
                else
                {
                    message = "Произошла внутренняя ошибка сервера, возможно строк аутентификации истёк.";
                }
            }
        }
        catch (HttpRequestException httpReqEx)
        {
            switch (httpReqEx.StatusCode)
            {
                case HttpStatusCode.NotFound:
                    message = "Упс, сервер не нашёл, куда отправить пост. Попробуйте перезайти.";
                    break;
                case HttpStatusCode.Unauthorized:
                    NavNanager.NavigateTo("/login");
                    break;
                case HttpStatusCode.BadRequest:
                    message = "Что-то пошло не так, попробуйте изменить пост.";
                    break;
                case HttpStatusCode.Conflict:
                    message = "Сервер борется со злом внутри, оставьте его в покое.";
                    break;
                case HttpStatusCode.Forbidden:
                    message = "Сервер отказался выполнять запрос, это БУНД!";
                    break;
                case HttpStatusCode.Gone:
                    message = "Попытка общения с мёртвым закончилась полным провалом...";
                    break;
                default:
                    message = "Сервер вернул неизвестный статус код. \n" +
                        "Если не затруднит, обратитесь к одному из разработчиков " +
                        "по ссылкам внизу страницы.";
                    break;
            }
        }
        catch (Exception)
        {
            message = "Произошла ошибка, которую разработчикам было лень обрабатывать. \n" +
                        "Если не затруднит, обратитесь к одному из них по ссылкам внизу страницы.";
        }
    }
}
