<div class="submitpostbox">
    <div class="submitpostbox__body">
        <EditForm Model="newPost" OnValidSubmit="SubmitNewPost" class="submitpostbox__form form">
            <textarea @bind="newPost.Text"
                      rows="4" placeholder="Есть новости?"
                      class="form__text" id="text">
            </textarea>
            <button class="form__submitbutton" type="submit">Отправить!</button>
        </EditForm>
    </div>
</div>

@code {
    [Parameter] public HttpClient Http { get; set; }
    AddPublicationDTO newPost = new();

    async Task SubmitNewPost()
    {
        /*
            This is the first user ID in the database.
            When the authentication logic is ready, insert the data
            from the authentication cookies here.
        */
        //newPost.Title = "";
        newPost.AuthorId = new Guid("22db8d01-06e0-45af-8543-45b3a514c55e");

        if (newPost != null)
        {
            if (string.IsNullOrWhiteSpace(newPost.Text) is false)
            {
                //TODO: We need TryCatch!
                var responce = await Http.PostAsJsonAsync<AddPublicationDTO>
                ("https://localhost:44353/api/publication", newPost);
            }
        }
    }
}
