
<div class="submitpostbox @DarkThemeCssClass">
    <div class="submitpostbox__body">
        <EditForm Model="newPost" OnValidSubmit="SubmitNewPost" class="submitpostbox__form form">
            <textarea @bind="newPost.Text"
                      rows="4" placeholder="Есть новости?"
                      class="form__text" id="text">
            </textarea>
            <button class="form__submitbutton" type="submit">Отправить!</button>
        </EditForm>
    </div>
</div>

@code {
    [Parameter] public HttpClient Http { get; set; }
    [Parameter] public ILocalStorageService localStorage { get; set; }
    [Parameter] public string DarkThemeCssClass { get; set; }

    AddPublicationDTO newPost = new();

    async Task SubmitNewPost()
    {
        if (newPost != null)
        {
            if (string.IsNullOrWhiteSpace(newPost.Text) is false)
            {
                //TODO: We need TryCatch!
                newPost.AuthorId = await CookieHelper.GetCurrentId(localStorage);

                string token = await CookieHelper.GetToken(localStorage);

                await CookieHelper.SetJwtHeader(Http, token);

                var responce = await Http.PostAsJsonAsync<AddPublicationDTO>
                ("https://localhost:44353/api/publication", newPost);
            }
        }
    }
}
