<div class="submitPostBox">
	<span>Что нового?</span>
	<div class="submitPostBox-TextBox">
		<textarea class="TextBox--inputText">
		</textarea>
	</div>
	<input class="submitButton" type="submit" value="Отправить">
</div>

@code {
	StringBuilder text = new();
}
