<nav class="navmenu">
    <div class="navmenu__header">
        <button class="open-button">
            <img src="../css/images/SettingsIcon.png" alt="SettingsIcon" width="50px" height="40px">
        </button>
    </div>

    <div class="navmenu__body">
        <a class="nav-reference" href="/Account">Аккаунт</a>
        <a class="nav-reference" href="/Registration">Регистрация</a>
        <button class="button">Переключить тему</button>
    </div>
</nav>

@code {
}
