<nav class="header-container-SubNavmenu">
    <div class="navmenu-reference">
        <a href="/"> Новости </a>
    </div>
    <div class="navmenu-reference">
        <a href="/Account"> Аккаунт </a>
    </div>
    <div class="navmenu-reference">
        <a href="/Registration"> Регистрация </a>
    </div>
</nav>

@code {
}
