@inherits LayoutComponentBase

<head>
    <meta charset="utf-8" />
    <title>NewsSite</title>
    <link rel="stylesheet" href="../css/DefaultStyles.css">
</head>

<main>
    <header>
        <NavMenu />
    </header>
    <SubNavMenu />

    <div class="main-contaner">
        @Body
    </div>
</main>

<footer>
    <!--Fix footer-->
    @*<FooterInfo />*@
</footer>
