<div class="header-container">
    <div class="header-container--Logo">
        <span> Лого </span>
    </div>
    <nav class="header-container-navmenu">
        <div class="navmenu-settings">
            <!-- Сделать вместо ссылки кнопку. -->
            <a href="#">
                <img src="../css/images/settingsIcon.ico" alt="settingsIcon">
            </a>
        </div>
        <div class="navmenu-account">
            <!-- Сделать картинку фоном. -->
            <a href="Account.html">
                <img src="../css/images/DefaultUser.ico" alt="settingsIcon">
            </a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
