@page "/counter"
@inject HttpClient Http
@using NotSocialNetwork.Application.Entities

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

@if (users != null)
{
    foreach(var user in users)
    {
        <h1>@user.Name</h1>
    }
}
else
{
    <span>”пс, пока что постов нет...</span>
}

@code {
    private IEnumerable<UserEntity> users;

    protected override async Task OnInitializedAsync() 
    {
        users = await Http.GetFromJsonAsync<IEnumerable<UserEntity>>("api/user");
    }
}